{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link href="{% static 'app/styles.css' %}" rel="stylesheet">
</head>
<body>
  <div class="section">
    <h1>Home</h1>
    <p>Welcome to the e-commerce sales forecasting system.<br>
       This application uses a machine learning model built with the NeuralProphet library to predict the daily sales of
       the business.<br>
       The dashboard will provide insightful charts on estimated daily sales totals and accuracy of the model.</p>
    <div>
      <button onclick="window.location.href='/dashboard'">Dashboard</button>
    </div>
  </div>
</body>
</html>
